.count-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .count-container__contador {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    width: 140px;
    height: 50px;
    font-weight: 600;
    font-size: 23px;
    margin: 40px auto 0;
  }
  
  .count-container__button {
    color: black;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    font-size: 1.6rem;
    transition: all 250ms ease-out;
  }
  
  .count-container__button:hover {
    border: none;
    color: white;
    background-color: black;
  }
  
  .count-container__button[disabled] {
    color: white;
    background-color:grey;
    border: 1px solid black;
  }
  
  .count-container__qty {
    text-align: center;
    height: 100%;
    padding-top: 10px;
    color: black;
    border: 1px solid black;
    background-color: white;
  }

  .button-primary{
    width: 140px;
  }
  