@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Viga', sans-serif;
}

/* NAVBAR ----------------------------------------------------------------- */

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 30px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgb(170, 170, 170) 100%);
}

.navBar > img{
    width: 120px;
}

.navBar > div > img{
    width: 30px;
    margin-left: 15px;
}

.navBar a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px 10px;
    margin: 5px 5px;
}

.navBar a:hover{
    color: #c21e38;
    background-color: black;
    border-radius: 5px;
}